In [1]:
import pandas as pd

In [2]:
yr = pd.read_csv('2020-01-metropolitan-stop-and-search.csv')
print(yr.shape)

(28711, 15)

Combining all csv files into a single dataframe

In [3]:
for i in range(2,10):
    t = pd.read_csv('2020-0'+str(i)+'-metropolitan-stop-and-search.csv')
    yr = yr.append(t)
for i in range(10,13):
    t = pd.read_csv('2020-'+str(i)+'-metropolitan-stop-and-search.csv')
    yr = yr.append(t)
yr.shape

(317505, 15)

In [4]:
yr.head()

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing
0,Person search,2020-01-01T00:00:00+00:00,False,NaN,51.546371,-0.076007,Male,25-34,Mixed/Multiple ethnic groups - Any other Mixed...,Black,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN
1,Person search,2020-01-01T00:01:00+00:00,False,NaN,51.509232,-0.117576,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Police and Criminal Evidence Act 1984 (section 1),Fireworks,Arrest,NaN,NaN
2,Person search,2020-01-01T00:05:00+00:00,False,NaN,NaN,NaN,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Fireworks,Penalty Notice for Disorder,NaN,NaN
3,Person search,2020-01-01T00:05:00+00:00,False,NaN,NaN,NaN,Male,18-24,Black/African/Caribbean/Black British - Caribbean,Black,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN
4,Person search,2020-01-01T00:07:00+00:00,False,NaN,51.588914,-0.027220,Male,NaN,Other ethnic group - Not stated,Asian,Police and Criminal Evidence Act 1984 (section 1),Fireworks,A no further action disposal,NaN,NaN

In [5]:
yr.columns

Index(['Type', 'Date', 'Part of a policing operation', 'Policing operation',
       'Latitude', 'Longitude', 'Gender', 'Age range',
       'Self-defined ethnicity', 'Officer-defined ethnicity', 'Legislation',
       'Object of search', 'Outcome', 'Outcome linked to object of search',
       'Removal of more than just outer clothing'],
      dtype='object')

Dropping columns that are not of use for this work

In [6]:
yr = yr.drop(['Type', 'Date', 'Part of a policing operation', 'Policing operation', 'Latitude', 'Longitude', 'Legislation', 'Removal of more than just outer clothing'], axis=1)

In [7]:
yr = yr.drop(['Gender', 'Self-defined ethnicity', 'Outcome linked to object of search'], axis=1)

In [8]:
yr.head()

,Age range,Officer-defined ethnicity,Object of search,Outcome
0,25-34,Black,Controlled drugs,A no further action disposal
1,18-24,Black,Fireworks,Arrest
2,18-24,White,Fireworks,Penalty Notice for Disorder
3,18-24,Black,Controlled drugs,A no further action disposal
4,NaN,Asian,Fireworks,A no further action disposal

In [9]:
yr['Age range'].value_counts()

18-24       109238
25-34        69735
over 34      50592
10-17        49475
under 10        74
Name: Age range, dtype: int64

Export full year's data into a single csv

In [10]:
yr.to_csv('searches_2020.csv')

In [11]:
yr['count'] = 1

Tidying data

In [12]:
summary = yr.groupby(['Officer-defined ethnicity', 'Age range', 'Object of search', 'Outcome'], dropna=True).count()
summary.head(20)

                                                                                                         count
Officer-defined ethnicity Age range Object of search                    Outcome
Asian                     10-17     Anything to threaten or harm anyone A no further action disposal       140
                                                                        Arrest                               7
                                                                        Community resolution                 1
                                    Articles for use in criminal damage A no further action disposal        24
                                                                        Arrest                               1
                                                                        Community resolution                 2
                                    Controlled drugs                    A no further action disposal      3147
                                                                        Arrest                             282
                                                                        Caution (simple or conditional)      9
                                                                        Community resolution                97
                                                                        Penalty Notice for Disorder         12
                                                                        Summons / charged by post           63
                                    Evidence of offences under the Act  A no further action disposal       209
                                                                        Arrest                              42
                                                                        Community resolution                 4
                                                                        Penalty Notice for Disorder          1
                                                                        Summons / charged by post            1
                                    Firearms                            A no further action disposal        16
                                                                        Arrest                               8
                                    Fireworks                           A no further action disposal        68

In [13]:
summary.shape

(598, 1)

Exporting summary csv file

In [14]:
summary.to_csv('summary.csv')

Producing smaller table for searches by age & ethnicity

In [15]:
race_age_sum = yr.groupby(['Officer-defined ethnicity', 'Age range'], dropna=True).count()
race_age_sum = race_age_sum.drop(["Object of search", "Outcome"], axis=1)
race_age_sum.head(20)

                                     count
Officer-defined ethnicity Age range
Asian                     10-17       6244
                          18-24      23927
                          25-34      13421
                          over 34     6386
                          under 10      15
Black                     10-17      21554
                          18-24      41788
                          25-34      22899
                          over 34    14819
                          under 10      18
Other                     10-17       2161
                          18-24       6223
                          25-34       3215
                          over 34     1483
                          under 10       9
White                     10-17      19079
                          18-24      36382
                          25-34      29642
                          over 34    27555
                          under 10      26

Importing population data

In [16]:
pop = pd.read_excel('Ethnic group projections (2016-based central trend)-2.xlsx', sheet_name=3)

In [17]:
pop.head()

,gss_code,borough,sex,age,ethnic_group,2011,2012,2013,2014,2015,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,E09000001,City of London,Persons,0,All persons,69,72,67,66,63,...,61,61,62,62,62,62,62,62,62,62
1,E09000001,City of London,Persons,1,All persons,52,69,63,65,65,...,54,54,55,55,55,55,55,55,55,55
2,E09000001,City of London,Persons,2,All persons,37,56,69,71,78,...,49,49,49,49,50,50,50,50,50,50
3,E09000001,City of London,Persons,3,All persons,41,45,55,75,79,...,50,50,50,50,51,51,51,51,51,51
4,E09000001,City of London,Persons,4,All persons,34,42,42,55,83,...,51,51,51,51,51,51,51,52,52,52

Combining ethnicity sub-categories into wider categories used for officer-defined ethnicity (e.g. Black African --> Black).

In [18]:
pop['ethnic_group'][(pop['ethnic_group'] == 'White British') |(pop['ethnic_group'] ==  'White Irish' )|(pop['ethnic_group'] ==  'Other White')] = 'white'

<ipython-input-18-1ea34e7409b2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop['ethnic_group'][(pop['ethnic_group'] == 'White British') |(pop['ethnic_group'] ==  'White Irish' )|(pop['ethnic_group'] ==  'Other White')] = 'white'

In [19]:
pop['ethnic_group'][(pop['ethnic_group'] == 'Black African') |(pop['ethnic_group'] ==  'Black Caribbean' )|(pop['ethnic_group'] ==  'Other Black')] = 'black'

<ipython-input-19-cfd4a8dd1c7a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop['ethnic_group'][(pop['ethnic_group'] == 'Black African') |(pop['ethnic_group'] ==  'Black Caribbean' )|(pop['ethnic_group'] ==  'Other Black')] = 'black'

In [20]:
pop['ethnic_group'][(pop['ethnic_group'] == 'Indian') |(pop['ethnic_group'] ==  'Pakistani' )|(pop['ethnic_group'] ==  'Bangladeshi')|(pop['ethnic_group'] ==  'Pakistani' )|(pop['ethnic_group'] ==  'Chinese')|(pop['ethnic_group'] ==  'Pakistani' )|(pop['ethnic_group'] ==  'Other Asian')] = 'asian'

<ipython-input-20-84e6d9c9f8ba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop['ethnic_group'][(pop['ethnic_group'] == 'Indian') |(pop['ethnic_group'] ==  'Pakistani' )|(pop['ethnic_group'] ==  'Bangladeshi')|(pop['ethnic_group'] ==  'Pakistani' )|(pop['ethnic_group'] ==  'Chinese')|(pop['ethnic_group'] ==  'Pakistani' )|(pop['ethnic_group'] ==  'Other Asian')] = 'asian'

In [21]:
pop['ethnic_group'][(pop['ethnic_group'] == 'Arab') |(pop['ethnic_group'] ==  'Other Ethnic Group' )] = 'other'

<ipython-input-21-c9fca6e16be3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop['ethnic_group'][(pop['ethnic_group'] == 'Arab') |(pop['ethnic_group'] ==  'Other Ethnic Group' )] = 'other'

In [22]:
pop['ethnic_group'].unique()

array(['All persons', 'white', 'White & Black Caribbean',
       'White & Black African', 'White & Asian', 'Other Mixed', 'asian',
       'black', 'other', 'BAME'], dtype=object)

'Mixed' Ethnicities will be dropped, as it is not possible to categorise them into the categories used for Officer-Defined Ethnicity.

In [23]:
pop = pop[(pop['ethnic_group'] == 'white')|(pop['ethnic_group'] == 'black')|(pop['ethnic_group'] == 'asian')|(pop['ethnic_group'] == 'other')]

In [24]:
pop['ethnic_group'].unique()

array(['white', 'asian', 'black', 'other'], dtype=object)

Selecting London-Wide data only

In [25]:
pop = pop[pop['borough'] == 'Greater London']

In [26]:
pop.head()

,gss_code,borough,sex,age,ethnic_group,2011,2012,2013,2014,2015,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
61272,E12000007,Greater London,Persons,0,white,48001,45312,42990,41396,40979,...,40401,40610,40792,40933,41038,41115,41168,41199,41212,41214
61273,E12000007,Greater London,Persons,1,white,45154,46019,43614,41333,39727,...,38608,38813,39012,39184,39318,39418,39490,39540,39570,39583
61274,E12000007,Greater London,Persons,2,white,42285,43236,44177,42030,39755,...,36987,37186,37382,37570,37734,37862,37956,38026,38074,38102
61275,E12000007,Greater London,Persons,3,white,40916,40638,41690,42629,40497,...,35622,35802,35993,36181,36361,36517,36639,36730,36797,36843
61276,E12000007,Greater London,Persons,4,white,38748,39506,39318,40321,41153,...,34505,34663,34838,35022,35203,35376,35526,35644,35732,35796

In [27]:
pop = pop.iloc[:,[3,4,14]]
pop.head()

      age ethnic_group   2020
61272   0        white  39899
61273   1        white  38380
61274   2        white  36978
61275   3        white  35753
61276   4        white  35179

In [28]:
pop = pop[pop['age'] != 'All ages']

In [29]:
pop['age'] = pop['age'].astype(int)

In [30]:
pop['age'][pop['age']<10] = 'under 10'

<ipython-input-30-618989fc42de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop['age'][pop['age']<10] = 'under 10'

In [36]:
pop['age'][(pop['age']== 10) |(pop['age']==  11) |(pop['age']==  12 )|(pop['age']==  13) |(pop['age']==  14) |(pop['age']== 15) |(pop['age']== 16) |(pop['age']== 17)] = '10-17'

<ipython-input-36-99881fe5a574>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop['age'][(pop['age']== 10) |(pop['age']==  11) |(pop['age']==  12 )|(pop['age']==  13) |(pop['age']==  14) |(pop['age']== 15) |(pop['age']== 16) |(pop['age']== 17)] = '10-17'

In [38]:
pop['age'][(pop['age']== 18) |(pop['age']==  19) |(pop['age']==  20) |(pop['age']==  21) |(pop['age']==  22) |(pop['age']== 23) |(pop['age']== 24) ] = '18-24'

<ipython-input-38-5786288cd566>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop['age'][(pop['age']== 18) |(pop['age']==  19) |(pop['age']==  20) |(pop['age']==  21) |(pop['age']==  22) |(pop['age']== 23) |(pop['age']== 24) ] = '18-24'

In [39]:
pop['age'][(pop['age']== 25) | (pop['age']== 26) |(pop['age']==  27) | (pop['age']== 28 )|(pop['age']== 29) |(pop['age']== 30) | (pop['age']== 31) |(pop['age']== 32) |(pop['age']== 33) |(pop['age']== 34)] = '25-34'

<ipython-input-39-1c2d61e8979a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop['age'][(pop['age']== 25) | (pop['age']== 26) |(pop['age']==  27) | (pop['age']== 28 )|(pop['age']== 29) |(pop['age']== 30) | (pop['age']== 31) |(pop['age']== 32) |(pop['age']== 33) |(pop['age']== 34)] = '25-34'

In [40]:
pop['age'].unique()

array(['under 10', '10-17', '18-24', '25-34', 35, 36, 37, 38, 39, 40, 41,
       42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,
       59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76,
       77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
      dtype=object)

In [41]:
pop['age'][(pop['age']!= 'under 10') & (pop['age']!= '10-17') & (pop['age']!= '18-24') & (pop['age']!= '25-34')] = 'over 34'

<ipython-input-41-9b77e637f8fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop['age'][(pop['age']!= 'under 10') & (pop['age']!= '10-17') & (pop['age']!= '18-24') & (pop['age']!= '25-34')] = 'over 34'

In [44]:
g_pop = pop.groupby(['ethnic_group', 'age']).sum()

In [45]:
g_pop.head(50)

                          2020
ethnic_group age
asian        10-17      228982
             18-24      173392
             25-34      349792
             over 34    886785
             under 10   263267
black        10-17      182367
             18-24      100134
             25-34      155538
             over 34    584635
             under 10   215773
other        10-17       46297
             18-24       32746
             25-34       63407
             over 34    166838
             under 10    64936
white        10-17      472884
             18-24      408853
             25-34      937227
             over 34   2815113
             under 10   523414

In [46]:
race_age_sum.head(50)

                                     count
Officer-defined ethnicity Age range
Asian                     10-17       6244
                          18-24      23927
                          25-34      13421
                          over 34     6386
                          under 10      15
Black                     10-17      21554
                          18-24      41788
                          25-34      22899
                          over 34    14819
                          under 10      18
Other                     10-17       2161
                          18-24       6223
                          25-34       3215
                          over 34     1483
                          under 10       9
White                     10-17      19079
                          18-24      36382
                          25-34      29642
                          over 34    27555
                          under 10      26